<!DOCTYPE html>
<html ng-app="RibbonApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngRibbon</title>

    <link href="ngRibbon.css" rel="stylesheet"/>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body ng-controller="AppController as app">
<ng-ribbon title="'Document 1'">
    <ng-ribbon-backstage title="'File'">
        <ng-ribbon-menu>
            <ng-ribbon-menu-item title="'Open'">
                <div>Recent Cases</div>
            </ng-ribbon-menu-item>
            <ng-ribbon-menu-item title="'Close'" action="app.alert('close')"></ng-ribbon-menu-item>
            <ng-ribbon-menu-separator></ng-ribbon-menu-separator>
            <ng-ribbon-menu-item title="'Options'" action="app.alert('options')"></ng-ribbon-menu-item>
        </ng-ribbon-menu>
    </ng-ribbon-backstage>
    <ng-ribbon-tab title="'Home'">
        <ng-ribbon-group title="Clipboard"></ng-ribbon-group>
        <ng-ribbon-group title="Font"></ng-ribbon-group>
        <ng-ribbon-group title="Paragraph"></ng-ribbon-group>
        <ng-ribbon-group title="Styles"></ng-ribbon-group>
        <ng-ribbon-group title="Editing"></ng-ribbon-group>
    </ng-ribbon-tab>
    <ng-ribbon-tab title="'Insert'">

    </ng-ribbon-tab>
</ng-ribbon>

<script src="../bower_components/angularjs/angular.js"></script>
<script src="ngRibbon.js"></script>

<script>
    angular.module('RibbonApp', ['ngRibbon'])
            .controller('AppController', function () {
                this.alert = function (item) {
                    alert('Called from Menu Item: ' + item);
                };
            });
</script>

<script id="ribbon.html" type="text/ng-template">
    <div class="ng-ribbon">
        <div class="ng-ribbon-title">
            <div>{{ ribbon.title }}</div>
        </div>
        <div class="ribbon"
             ng-class="{ 'backstage-open': ribbon.backstage.isOpen }">
            <div class="tabs">
                <div ng-if="ribbon.hasBackstage"
                     class="tab-name backstage"
                     ng-click="ribbon.backstage.open()">
                    {{ ribbon.backstage.title }}
                </div>
                <div class="tab-name"
                     ng-repeat="tab in ribbon.tabs"
                     ng-class="{ 'active': tab.active }"
                     ng-click="ribbon.activate(tab, false)">
                    {{ tab.title }}
                </div>
            </div>
            <div ng-transclude=""></div>
        </div>
    </div>
</script>

<script id="backstage.html" type="text/ng-template">
    <div class="backstage-close"
         ng-click="backstage.close()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 512 512">
            <path fill="#fff"
                  d="M377.916,243.5H164.262l58.659-58.661c4.882-4.882,4.882-12.796,0-17.678c-4.883-4.881-12.797-4.881-17.678,0l-79.998,80c-4.882,4.882-4.882,12.796,0,17.678l80,80c2.44,2.44,5.64,3.661,8.839,3.661s6.398-1.221,8.839-3.661 c4.882-4.882,4.882-12.796,0-17.678L164.262,268.5h213.654c6.903,0,12.5-5.597,12.5-12.5S384.819,243.5,377.916,243.5z"/>
        </svg>
    </div>
    <div class="backstage-content"
         ng-transclude=""></div>
</script>

<script id="ribbon-menu.html" type="text/ng-template">
    <div class="ribbon-menu">
        <ul>
            <li ng-repeat="menuItem in menu.menuItems"
                ng-class="{ 'selected': menuItem.selected, 'separator': menuItem.separator }"
                ng-click="menu.select(menuItem)">
                {{ menuItem.title }}
            </li>
        </ul>
    </div>
    <div class="ribbon-menu-content" ng-transclude=""></div>
</script>

</body>
</html>