ng-ribbon {
    display: block;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
    margin-bottom: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ng-ribbon ng-ribbon-title {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 30px;
    z-index: 1000;
}

ng-ribbon ng-ribbon-title > div {
    margin: 0 auto;
    display: table;
    font-size: 12px;
    padding: 0 5px;
}

ng-ribbon .ribbon {
    background-color: white;
    margin-top: 30px;
    font-size: 12px;
}

ng-ribbon .ribbon .tab-content {
    height: 104px;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #d6d6d6;
    -webkit-transition: height .3s ease-in;
    -moz-transition: height .2s ease-in;
    -ms-transition: height .2s ease-in;
    -o-transition: height .2s ease-in;
    transition: height .2s ease-in;
}

/* Collapsed Ribbon */

ng-ribbon .ribbon.collapsed .tabs {
    border-bottom: none;
}

ng-ribbon .ribbon.collapsed .tab-content {
    height: 0;
    border-bottom: none;
}

ng-ribbon .ribbon .tab-content.float {
    position: absolute;
}

/* Tabs Titles */

ng-ribbon .ribbon .tabs {
    border-bottom: solid 1px #d6d6d6;
}

ng-ribbon .tabs .tab-name {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: transparent;
    margin-bottom: -1px;
}

ng-ribbon .tabs .tab-name.active {
    border-color:  #d6d6d6;
    border-bottom: solid 1px white;
    color: #2b579a;
    background-color: white;
}

ng-ribbon .tabs .tab-name.backstage {
    background-color: #2b579a;
    border-color: #2b579a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

ng-ribbon .tabs .tab-name.backstage:hover {
    background-color: #3e6db5;
    border-color: #3e6db5;
}

/* Contextual Tab Titles */

ng-ribbon .contextual-group {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

ng-ribbon .contextual-group.color-1 {
    border-top-color: #C9599C;
    background-color: #FCF0F7;
    color: #C9599C;
}

ng-ribbon .contextual-group.color-2 {
    border-top-color: #F2CB1D;
    background-color: #FFFBE6;
    color: #F2CB1D;
}

ng-ribbon .contextual-group.color-3 {
    border-top-color: #FF9D00;
    background-color: #FFF8ED;
    color: #FF9D00;
}

ng-ribbon .contextual-group.color-4 {
    border-top-color: #49A349;
    background-color: #E6F3E6;
    color: #49A349;
}

ng-ribbon .contextual-group.color-5 {
    border-top-color: #935ED3;
    background-color: #F6F1FC;
    color: #935ED3;
}

ng-ribbon .contextual-group.color-6 {
    border-top-color: #2299AB;
    background-color: #EFF8F9;
    color: #2299AB;
}

ng-ribbon .contextual-group > span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    background-color: inherit;
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1001;
}

ng-ribbon .ribbon.backstage-open .contextual-group > span {
    visibility: hidden;
}

ng-ribbon .contextual-group .tab-name {
    color: initial;
    margin-bottom: 0;
}

ng-ribbon .contextual-group .tab-name.active {
    color: inherit;
    margin-bottom: -1px;
}

/* Backstage */

ng-ribbon .ribbon ng-ribbon-backstage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: none;
}

ng-ribbon .ribbon.backstage-open ng-ribbon-backstage {
    display: block;
}

ng-ribbon .ribbon ng-ribbon-backstage .backstage-close {
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin: 20px 0 15px 20px;
}

ng-ribbon .ribbon ng-ribbon-backstage .backstage-close:hover {
    color: #97B1D8;
    border-color: #97B1D8;
}

ng-ribbon .ribbon ng-ribbon-backstage .backstage-close:hover path {
    fill: #97B1D8;
}

ng-ribbon .ribbon ng-ribbon-backstage .backstage-content {
    height: 100%;
}

/* Menu */

ng-ribbon .ribbon ng-ribbon-menu {
    display: flex;
    height: 100%;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu {
    width: 125px;
    background-color: #2b579a;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu ul {
    list-style: none;
    margin: 69px 0 0;
    padding: 0;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li {
    color: white;
    line-height: 40px;
    cursor: pointer;
    padding: 0 0 0 20px;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li.separator {
    margin: 10px 20px;
    padding: 0;
    border-bottom: solid 1px #3E6DB5;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li.selected {
    background-color: #3e6db5;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li:hover {
    background-color: #19478a;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content {
    flex: 1;
    padding: 30px;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item {
    display: none;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item.selected {
    display: block;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-separator {
    display: none;
}

/* Tab Content */

ng-ribbon .ribbon ng-ribbon-tab {
    display: none;
}
