.ng-ribbon {
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
}

.ng-ribbon .ng-ribbon-title {
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 30px;
    z-index: 1000;
}

.ng-ribbon .ng-ribbon-title > div {
    margin: 0 auto;
    display: table;
    font-size: 12px;
}

.ribbon {
    height: 130px;
    background-color: white;
    border-bottom: solid 1px #d6d6d6;
    margin-top: 30px;
    font-size: 12px;
}

/* Tabs Titles */

.ribbon .tabs {
    border-bottom: solid 1px #d6d6d6;
}

.ribbon .tabs .tab-name {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: transparent;
    margin-bottom: -1px;
}

.ribbon .tabs .tab-name.active {
    border-color:  #d6d6d6;
    border-bottom: solid 1px white;
    color: #2b579a;
}

.ribbon .tabs .tab-name.backstage {
    background-color: #2b579a;
    border-color: #2b579a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.ribbon .tabs .tab-name.backstage:hover {
    background-color: #3e6db5;
    border-color: #3e6db5;
}

/* Backstage */

.ribbon ng-ribbon-backstage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: none;
}

.ribbon.backstage-open ng-ribbon-backstage {
    display: block;
}

.ribbon ng-ribbon-backstage .backstage-close {
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    margin: 20px 0 15px 20px;
}

.ribbon ng-ribbon-backstage .backstage-close:hover {
    color: #a3a0a0;
    border-color: #a3a0a0;
}

.ribbon ng-ribbon-backstage .backstage-close:hover path {
    fill: #a3a0a0;
}

.ribbon ng-ribbon-backstage .backstage-content {
    height: 100%;
}

/* Menu */

.ribbon ng-ribbon-menu {
    display: flex;
    height: 100%;
}

.ribbon ng-ribbon-menu .ribbon-menu {
    width: 125px;
    background-color: #2b579a;
}

.ribbon ng-ribbon-menu .ribbon-menu ul {
    list-style: none;
    margin: 69px 0 0;
    padding: 0;
}

.ribbon ng-ribbon-menu .ribbon-menu li {
    color: white;
    line-height: 40px;
    cursor: pointer;
    padding: 0 0 0 20px;
}

.ribbon ng-ribbon-menu .ribbon-menu li.separator {
    margin: 10px 20px;
    padding: 0;
    border-bottom: solid 1px #3E6DB5;
}

.ribbon ng-ribbon-menu .ribbon-menu li.selected {
    background-color: #3e6db5;
}

.ribbon ng-ribbon-menu .ribbon-menu li:hover {
    background-color: #19478a;
}

.ribbon ng-ribbon-menu .ribbon-menu-content {
    flex: 1;
    padding: 30px;
}

.ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item {
    display: none;
}

.ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item.selected {
    display: block;
}

.ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-separator {
    display: none;
}

/* Tab Content */

.ribbon ng-ribbon-tab {
    display: none;
}
