<!DOCTYPE html>
<html ng-app="RibbonApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngRibbon</title>

    <link href="../dist/ribbon.css" rel="stylesheet"/>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        .main-content {
            padding: 0 30px;
        }

        .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="AppController as app">

<ribbon class="ng-cloak" data-title="'Document 1'" data-context="app.ribbonContext">
    <ribbon-backstage data-title="'File'">
        <ribbon-menu>
            <ribbon-menu-item data-title="'Open'">
                <div>Recent Cases</div>
            </ribbon-menu-item>
            <ribbon-menu-item data-title="'Another'">
                <div>Another Menu Item</div>
            </ribbon-menu-item>
            <ribbon-menu-item data-title="'Close'" action="app.alert('close')"></ribbon-menu-item>
            <ribbon-menu-separator></ribbon-menu-separator>
            <ribbon-menu-item data-title="'Options'" action="app.alert('options')"></ribbon-menu-item>
        </ribbon-menu>
    </ribbon-backstage>
    <ribbon-tab data-title="'Home'">
        <ribbon-group data-title="'Tabs'">
            <large-button command="ShowTimelineView"></large-button>
            <large-button command="ShowMapView"></large-button>
            <large-button command="ShowDataTablesView"></large-button>
            <split-button command="ShowMutualLinksView" popup="popup.html"></split-button>
        </ribbon-group>
        <ribbon-group data-title="'Report'">
            <large-button command="GenerateReport"></large-button>
        </ribbon-group>
        <ribbon-group data-title="'Watch Lists'">
            <split-button command="ShowWatchlistManagement" popup="popup.html"></split-button>
        </ribbon-group>
        <ribbon-group data-title="'Tagging'">
            <drop-button command="DropButton" popup="popup.html"></drop-button>
            <drop-button command="DropButton2" popup="popup1.html"></drop-button>
        </ribbon-group>
    </ribbon-tab>
    <ribbon-tab data-title="'Insert'">
        <ribbon-group data-title="'Pages'"></ribbon-group>
    </ribbon-tab>
    <ribbon-tab data-title="'Context'" contextual="table"></ribbon-tab>
    <ribbon-tab data-title="'Photo 1'" contextual="photo"></ribbon-tab>
    <ribbon-tab data-title="'Photo 2'" contextual="photo"></ribbon-tab>
</ribbon>

<div class="main-content">
    <p>
        <button ng-click="app.toggleContext('table')">Table</button>
        <button ng-click="app.toggleContext('photo')">Photo</button>
        <button ng-click="app.toggleContext('dynamic')">Dynamic</button>
    </p>
    <p>
        <button ng-click="app.commands.toggle('ShowMutualLinksView')">Toggle Links</button>
    </p>
</div>

<script id="popup.html" type="text/ng-template">
    <div>Split Button popup, can contain anything!</div>
</script>

<script id="popup1.html" type="text/ng-template">
    <div style="width: 200px;" ng-click="$event.stopPropagation()">
        Context in Popup
        <br/>
        {{ button.command }}
        <div>
            <button ng-click="button.close()">Close</button>
        </div>
    </div>
</script>

<script id="dynamic-tab.html" type="text/ng-template">
    <ribbon-tab data-title="'Dynamic'">
        <ribbon-group data-title="'Tabs 1'">
            <large-button command="ShowTimelineView"></large-button>
            <large-button command="ShowMapView"></large-button>
            <large-button command="ShowDataTablesView"></large-button>
            <split-button command="ShowMutualLinksView" popup="popup.html"></split-button>
        </ribbon-group>
        <ribbon-group data-title="'Report 1'">
            <large-button command="GenerateReport"></large-button>
        </ribbon-group>
        <ribbon-group data-title="'Watch Lists 1'">
            <split-button command="ShowWatchlistManagement" popup="popup.html"></split-button>
        </ribbon-group>
        <ribbon-group data-title="'Tagging 1'">
            <drop-button command="DropButton" popup="popup.html"></drop-button>
            <drop-button command="DropButton2" popup="popup.html"></drop-button>
        </ribbon-group>
    </ribbon-tab>
</script>

<script id="dynamic-contextual-tab.html" type="text/ng-template">
    <ribbon-tab data-title="'Dynamic 2'" contextual="dynamic"></ribbon-tab>
</script>

<script id="dynamic-contextual-tab-2.html" type="text/ng-template">
    <ribbon-tab data-title="'Dynamic 3'" contextual="table"></ribbon-tab>
</script>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>

<script src="../dist/ribbon.tmpl.js"></script>

<script>
    angular.module('RibbonApp', ['ribbon'])
            .controller('AppController', function (commands) {
                this.alert = function (item) {
                    alert('Called from Menu Item: ' + item);
                };

                this.commands = commands;
                this.ribbonContext = {
                    commands: commands.get()
                };

                this.toggleContext = function (group) {
                    this.ribbonContext[group] = !this.ribbonContext[group];
                }
            })
            .factory('commands', function () {
                var commands = {
                    ShowTimelineView: {
                        title: 'Timeline',
                        action: function () {
                            alert('Timeline');
                        }
                    },
                    ShowMapView: {
                        title: 'Map',
                        action: function () {
                            alert('Map');
                        }
                    },
                    ShowDataTablesView: {
                        title: 'Data Tables',
                        action: function () {
                            alert('Data Tables');
                        }
                    },
                    GenerateReport: {
                        title: 'Generate Report',
                        disabled: true
                    },
                    ShowMutualLinksView: {
                        title: 'Mutual Links',
                        action: function () {
                            alert('Mutual Links');
                        }
                    },
                    ShowWatchlistManagement: {
                        title: 'Activate',
                        action: function () {
                            alert('Activate');
                        }
                    },
                    DropButton: {
                        title: 'Drop Button'
                    },
                    DropButton2: {
                        title: 'Drop',
                        autoClose: false
                    },
                    DynamicCommand: {
                        title: 'Dynamic',
                        action: function () {
                            alert('Dynamic Command');
                        }
                    }
                };

                var toggle = function (commandName, disabled) {
                    var command = commands[commandName];
                    if (!command) {
                        return;
                    }
                    disabled = disabled === undefined ? !command.disabled : disabled;
                    command.disabled = disabled;
                };

                return {
                    get: function () {
                        return commands;
                    },
                    add: function (name, command) {
                        commands[name] = command;
                    },
                    enable: function (commandName) {
                        toggle(commandName, false);
                    },
                    disable: function (commandName) {
                        toggle(commandName, true);
                    },
                    toggle: function (commandName) {
                        toggle(commandName);
                    }
                }
            })
            .config(function (dynamicRibbonProvider) {
                dynamicRibbonProvider.registerTab('dynamic-tab.html');
                dynamicRibbonProvider.registerTab('dynamic-contextual-tab.html');
                dynamicRibbonProvider.registerTab('dynamic-contextual-tab-2.html');
                dynamicRibbonProvider.registerCommand({
                    tab: 'Home',
                    group: 'Tabs',
                    command: 'DynamicCommand',
                    popup: 'popup.html',
                    type: 'split-button'
                });
                dynamicRibbonProvider.registerCommand({
                    tab: 'Dynamic',
                    group: 'Tabs 1',
                    command: 'DynamicCommand',
                    type: 'large-button'
                });
            });
</script>

</body>
</html>