<!DOCTYPE html>
<html ng-app="RibbonApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngRibbon</title>

    <link href="ribbon.css" rel="stylesheet"/>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        .main-content {
            padding: 0 30px;
        }

        .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="AppController as app">

<ng-ribbon class="ng-cloak" data-title="'Document 1'" data-context="app.ribbonContext">
    <ng-ribbon-backstage data-title="'File'">
        <ng-ribbon-menu>
            <ng-ribbon-menu-item data-title="'Open'">
                <div>Recent Cases</div>
            </ng-ribbon-menu-item>
            <ng-ribbon-menu-item data-title="'Another'">
                <div>Another Menu Item</div>
            </ng-ribbon-menu-item>
            <ng-ribbon-menu-item data-title="'Close'" action="app.alert('close')"></ng-ribbon-menu-item>
            <ng-ribbon-menu-separator></ng-ribbon-menu-separator>
            <ng-ribbon-menu-item data-title="'Options'" action="app.alert('options')"></ng-ribbon-menu-item>
        </ng-ribbon-menu>
    </ng-ribbon-backstage>
    <ng-ribbon-tab data-title="'Home'">
        <ng-ribbon-group data-title="'Tabs'">
            <ng-large-button command="ShowTimelineView"></ng-large-button>
            <ng-large-button command="ShowMapView"></ng-large-button>
            <ng-large-button command="ShowDataTablesView"></ng-large-button>
            <ng-split-button command="ShowMutualLinksView" popup="popup.html"></ng-split-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Report'">
            <ng-large-button command="GenerateReport"></ng-large-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Watch Lists'">
            <ng-split-button command="ShowWatchlistManagement" popup="popup.html"></ng-split-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Tagging'">
            <ng-drop-button command="DropButton" popup="popup.html"></ng-drop-button>
            <ng-drop-button command="DropButton2" popup="popup1.html"></ng-drop-button>
        </ng-ribbon-group>
    </ng-ribbon-tab>
    <ng-ribbon-tab data-title="'Insert'">
        <ng-ribbon-group data-title="'Pages'"></ng-ribbon-group>
    </ng-ribbon-tab>
    <ng-ribbon-tab data-title="'Context'" contextual="table"></ng-ribbon-tab>
    <ng-ribbon-tab data-title="'Photo 1'" contextual="photo"></ng-ribbon-tab>
    <ng-ribbon-tab data-title="'Photo 2'" contextual="photo"></ng-ribbon-tab>
</ng-ribbon>

<div class="main-content">
    <p>
        <button ng-click="app.toggleContext('table')">Table</button>
        <button ng-click="app.toggleContext('photo')">Photo</button>
        <button ng-click="app.toggleContext('dynamic')">Dynamic</button>
    </p>
    <p>
        <button ng-click="app.commands.toggle('ShowMutualLinksView')">Toggle Links</button>
    </p>
</div>

<script id="popup.html" type="text/ng-template">
    <div>Split Button popup, can contain anything!</div>
</script>

<script id="popup1.html" type="text/ng-template">
    <div style="width: 200px;" ng-click="$event.stopPropagation()">
        Context in Popup
        <br/>
        {{ button.command }}
        <div>
            <button ng-click="button.close()">Close</button>
        </div>
    </div>
</script>

<script id="dynamic-tab.html" type="text/ng-template">
    <ng-ribbon-tab data-title="'Dynamic'">
        <ng-ribbon-group data-title="'Tabs 1'">
            <ng-large-button command="ShowTimelineView"></ng-large-button>
            <ng-large-button command="ShowMapView"></ng-large-button>
            <ng-large-button command="ShowDataTablesView"></ng-large-button>
            <ng-split-button command="ShowMutualLinksView" popup="popup.html"></ng-split-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Report 1'">
            <ng-large-button command="GenerateReport"></ng-large-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Watch Lists 1'">
            <ng-split-button command="ShowWatchlistManagement" popup="popup.html"></ng-split-button>
        </ng-ribbon-group>
        <ng-ribbon-group data-title="'Tagging 1'">
            <ng-drop-button command="DropButton" popup="popup.html"></ng-drop-button>
            <ng-drop-button command="DropButton2" popup="popup.html"></ng-drop-button>
        </ng-ribbon-group>
    </ng-ribbon-tab>
</script>

<script id="dynamic-contextual-tab.html" type="text/ng-template">
    <ng-ribbon-tab data-title="'Dynamic 2'" contextual="dynamic"></ng-ribbon-tab>
</script>

<script id="dynamic-contextual-tab-2.html" type="text/ng-template">
    <ng-ribbon-tab data-title="'Dynamic 3'" contextual="table"></ng-ribbon-tab>
</script>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="ribbon.js"></script>

<script>
    angular.module('RibbonApp', ['ngRibbon'])
            .controller('AppController', function (commands) {
                this.alert = function (item) {
                    alert('Called from Menu Item: ' + item);
                };

                this.commands = commands;
                this.ribbonContext = {
                    commands: commands.get()
                };

                this.toggleContext = function (group) {
                    this.ribbonContext[group] = !this.ribbonContext[group];
                }
            })
            .factory('commands', function () {
                var commands = {
                    ShowTimelineView: {
                        title: 'Timeline',
                        action: function () {
                            alert('Timeline');
                        }
                    },
                    ShowMapView: {
                        title: 'Map',
                        action: function () {
                            alert('Map');
                        }
                    },
                    ShowDataTablesView: {
                        title: 'Data Tables',
                        action: function () {
                            alert('Data Tables');
                        }
                    },
                    GenerateReport: {
                        title: 'Generate Report',
                        disabled: true
                    },
                    ShowMutualLinksView: {
                        title: 'Mutual Links',
                        action: function () {
                            alert('Mutual Links');
                        }
                    },
                    ShowWatchlistManagement: {
                        title: 'Activate',
                        action: function () {
                            alert('Activate');
                        }
                    },
                    DropButton: {
                        title: 'Drop Button'
                    },
                    DropButton2: {
                        title: 'Drop',
                        autoClose: false
                    },
                    DynamicCommand: {
                        title: 'Dynamic',
                        action: function () {
                            alert('Dynamic Command');
                        }
                    }
                };

                var toggle = function (commandName, disabled) {
                    var command = commands[commandName];
                    if (!command) {
                        return;
                    }
                    disabled = disabled === undefined ? !command.disabled : disabled;
                    command.disabled = disabled;
                };

                return {
                    get: function () {
                        return commands;
                    },
                    add: function (name, command) {
                        commands[name] = command;
                    },
                    enable: function (commandName) {
                        toggle(commandName, false);
                    },
                    disable: function (commandName) {
                        toggle(commandName, true);
                    },
                    toggle: function (commandName) {
                        toggle(commandName);
                    }
                }
            })
            .config(function (dynamicRibbonProvider) {
                dynamicRibbonProvider.registerTab('dynamic-tab.html');
                dynamicRibbonProvider.registerTab('dynamic-contextual-tab.html');
                dynamicRibbonProvider.registerTab('dynamic-contextual-tab-2.html');
                dynamicRibbonProvider.registerCommand({
                    tab: 'Home',
                    group: 'Tabs',
                    command: 'DynamicCommand',
                    popup: 'popup.html',
                    type: 'split-button'
                });
                dynamicRibbonProvider.registerCommand({
                    tab: 'Dynamic',
                    group: 'Tabs 1',
                    command: 'DynamicCommand',
                    type: 'large-button'
                });
            });
</script>

<script id="ribbon.html" type="text/ng-template">
    <div class="ribbon"
         ng-class="{ 'backstage-open': ribbon.backstage.opened, 'collapsed': ribbon.collapsed, 'open': ribbon.hasActiveTab }">
        <div class="ribbon-title">
            <ng-ribbon-title data-title="ribbon.title"></ng-ribbon-title>
            <div class="tabs">
                <div ng-if="ribbon.hasBackstage"
                     class="tab-name backstage-tab"
                     ng-click="ribbon.backstage.open()">
                    {{ ribbon.backstage.title }}
                </div>
                <div class="tab-name"
                     ng-repeat="tab in ribbon.tabs"
                     ng-class="{ 'active': tab.active }"
                     ng-click="ribbon.activate(tab, $event)">
                    {{ tab.title }}
                </div>
                <div class="contextual-group ng-class:group.color"
                     ng-repeat="group in ribbon.contextualGroups"
                     ng-class="{ 'active': group.active }"
                     ng-show="group.visible">
                    <span>{{ group.title }}</span>

                    <div class="tab-name"
                         ng-repeat="tab in group.tabs"
                         ng-class="{ 'active': tab.active }"
                         ng-click="ribbon.activate(tab, $event)">
                        {{ tab.title }}
                    </div>
                </div>
            </div>
        </div>
        <div class="backstage" ng-if="ribbon.hasBackstage">
            <div class="backstage-close"
                 ng-click="ribbon.backstage.close()">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 512 512">
                    <path fill="#fff"
                          d="M377.916,243.5H164.262l58.659-58.661c4.882-4.882,4.882-12.796,0-17.678c-4.883-4.881-12.797-4.881-17.678,0l-79.998,80c-4.882,4.882-4.882,12.796,0,17.678l80,80c2.44,2.44,5.64,3.661,8.839,3.661s6.398-1.221,8.839-3.661 c4.882-4.882,4.882-12.796,0-17.678L164.262,268.5h213.654c6.903,0,12.5-5.597,12.5-12.5S384.819,243.5,377.916,243.5z"></path>
                </svg>
            </div>
            <div class="backstage-content" ng-ribbon-backstage-content=""></div>
        </div>
        <div class="tab-content">
            <div class="ribbon-collapse" ng-click="ribbon.toggleCollapse()">
                <svg width="29" height="17" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <polyline id="angle-up" points="15,30 25,20 35,30" stroke="#777777" fill="transparent" stroke-width="5"/>
                    <path id="thumbtack" fill="#777777"
                          transform="rotate(90, 25, 25)"
                          d="M32.333,25.207h-5.115l-2.217,14.252l-2.22-14.252h-5.114c0.726-1.232,1.648-2.262,2.7-3.047v-8.244h-1.323v-3.375h1.323h9.267h1.322v3.375h-1.324v8.244C30.684,22.945,31.607,23.975,32.333,25.207z"/>
                </svg>
            </div>
        </div>
    </div>
</script>

<script id="ribbon-title.html" type="text/ng-template">
    <div class="quick-access">QAT</div>
    <div class="title">{{ title }}</div>
</script>

<script id="ribbon-quick-access.html" type="text/ng-template">
    <div ng-repeat="command in ribbon.commands | filter:quickAccess">
        <img ng-src="{{ command.image }}"/>
    </div>
</script>

<script id="ribbon-menu.html" type="text/ng-template">
    <div class="ribbon-menu">
        <ul>
            <li ng-repeat="menuItem in menu.menuItems"
                ng-class="{ 'selected': menuItem.selected, 'separator': menuItem.separator }"
                ng-click="menu.select(menuItem)">
                {{ menuItem.title }}
            </li>
        </ul>
    </div>
    <div class="ribbon-menu-content" ng-transclude=""></div>
</script>

<script id="ribbon-group.html" type="text/ng-template">
    <div ng-transclude=""></div>
    <div class="group-label">{{ title }}</div>
</script>

<script id="ribbon-large-button.html" type="text/ng-template">
    <div class="button large-button"
         ng-class="{ disabled: button.disabled }"
         ng-click="button.execute()"
         ng-show="button.visible">
        <img ng-src="{{ button.image }}"/>
        <div class="title">{{ button.title }}</div>
    </div>
</script>

<script id="ribbon-split-button.html" type="text/ng-template">
    <div class="button split-button"
         ng-class="{ disabled: button.disabled, 'open': button.opened }"
         ng-show="button.visible">
        <div class="image" ng-click="button.execute()">
            <img ng-src="{{ button.image }}"/>
        </div>
        <div class="title"
             ng-click="button.open($event)">
            <span ng-is-multiline="">{{ button.title }}</span>
            <svg width="5px" height="3px">
                <path d="M0,0L2.5,3L5,0"/>
            </svg>
        </div>
        <div class="ribbon-popup" ng-include="button.popupUrl"></div>
    </div>
</script>

<script id="ribbon-drop-button.html" type="text/ng-template">
    <div class="button drop-button"
         ng-class="{ 'disabled': button.disabled, 'open': button.opened }"
         ng-click="button.open($event)"
         ng-show="button.visible">
        <img ng-src="{{ button.image }}"/>

        <div class="title">
            <span ng-is-multiline="">{{ button.title }}</span>
            <svg width="5px" height="3px">
                <path d="M0,0L2.5,3L5,0"/>
            </svg>
        </div>
        <div class="ribbon-popup" ng-include="button.popupUrl"></div>
    </div>
</script>

</body>
</html>