ng-ribbon {
    display: block;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
    margin-bottom: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ng-ribbon,
ng-ribbon *,
ng-ribbon *:before,
ng-ribbon *:after{
    box-sizing: border-box;
}

ng-ribbon .ribbon {
    background-color: white;
    font-size: 12px;
    position: relative;
    height: 161px;
    transition: height 100ms linear;
}

ng-ribbon .ribbon .ribbon-title {
    position: relative;
    z-index: 1;
    background-color: white;
    border-bottom: solid 1px #d4d4d4;
}

ng-ribbon .ribbon .tab-content {
    position: absolute;
    top: 56px;
    height: 104px;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #d5d5d5;
}

ng-ribbon .ribbon .ribbon-collapse {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 17px;
    overflow: hidden;
    cursor: pointer;
}

ng-ribbon .ribbon .ribbon-collapse:hover {
    background-color: #D5E1F2;
}

/* Ribbon Toolbar */

ng-ribbon ng-ribbon-title {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

ng-ribbon ng-ribbon-title > .title {
    padding: 0 5px;
    position: absolute;
    z-index: 1000;
    transition: left 100ms linear;
}

/* Quick Access */

ng-ribbon .quick-access {
    position: absolute;
    top: 0;
    padding: 0 5px;
    font-size: 12px;
}

/* Collapsed Ribbon */

ng-ribbon .ribbon.collapsed {
    height: 55px;
    overflow: visible;
}

ng-ribbon .ribbon.collapsed .ribbon-title {
    border-bottom-color: transparent;
}

ng-ribbon .ribbon.collapsed.open .ribbon-title {
    border-bottom-color: #d4d4d4;
}

ng-ribbon .ribbon.collapsed .tab-content {
    z-index: -1;
    transform: translateY(-100%);
    transition: transform .3s linear, border 0s linear;
    border-bottom-color: transparent;
}

ng-ribbon .ribbon.collapsed.backstage-open .tab-content {
    z-index: auto;
    transform: initial;
    transition-duration: 0s;
}

ng-ribbon .ribbon.open .tab-content {
    transform: initial;
    transition: transform .3s linear, border 0s linear;
}

ng-ribbon .ribbon.collapsed-remove-active {
    transition-duration: 300ms;
    transition-delay: 300ms;
}

ng-ribbon .ribbon.collapsed.open-add-active .tab-content {
    transition: transform .3s linear, border 0s linear 0ms;
}

ng-ribbon .ribbon.collapsed.open-remove-active .tab-content {
    transition: transform 100ms linear, border 0s linear 50ms;
}

ng-ribbon .ribbon.collapsed.open .tab-content {
    transition: transform .3s linear, border 0s linear 0ms;
    z-index: auto;
    border-bottom-color: #d5d5d5;
}

ng-ribbon .ribbon .ribbon-collapse #thumbtack {
    display: none;
}

ng-ribbon .ribbon.collapsed .ribbon-collapse {
    display: none;
}

ng-ribbon .ribbon.collapsed.open .ribbon-collapse {
    display: block;
}

ng-ribbon .ribbon.collapsed .ribbon-collapse #thumbtack {
    display: inline;
}

ng-ribbon .ribbon.collapsed .ribbon-collapse #angle-up {
    display: none;
}

/* Tabs Titles */

ng-ribbon .ribbon .tabs {
    width: 100%;
    margin-bottom: -1px;
}

ng-ribbon .tabs .tab-name {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    text-transform: uppercase;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: transparent;
}

ng-ribbon .tabs .tab-name.active {
    border-color: #d4d4d4;
    border-bottom: solid 1px white;
    color: #2b579a;
    background-color: white;
}

ng-ribbon .tabs .tab-name.backstage-tab {
    background-color: #2b579a;
    border-bottom: solid 1px;
    border-color: #2b579a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

ng-ribbon .tabs .tab-name.backstage-tab:hover {
    background-color: #3e6db5;
    border-color: #3e6db5;
}

/* Contextual Tab Titles */

ng-ribbon .contextual-group {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

ng-ribbon .contextual-group.color-1 {
    border-top-color: #C9599C;
    background-color: #FCF0F7;
    color: #C9599C;
}

ng-ribbon .contextual-group.color-2 {
    border-top-color: #F2CB1D;
    background-color: #FFFBE6;
    color: #F2CB1D;
}

ng-ribbon .contextual-group.color-3 {
    border-top-color: #FF9D00;
    background-color: #FFF8ED;
    color: #FF9D00;
}

ng-ribbon .contextual-group.color-4 {
    border-top-color: #49A349;
    background-color: #E6F3E6;
    color: #49A349;
}

ng-ribbon .contextual-group.color-5 {
    border-top-color: #935ED3;
    background-color: #F6F1FC;
    color: #935ED3;
}

ng-ribbon .contextual-group.color-6 {
    border-top-color: #2299AB;
    background-color: #EFF8F9;
    color: #2299AB;
}

ng-ribbon .contextual-group > span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    background-color: inherit;
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1001;
}

ng-ribbon .ribbon.backstage-open .contextual-group > span {
    visibility: hidden;
}

ng-ribbon .contextual-group .tab-name {
    color: initial;
    margin-bottom: 0;
}

ng-ribbon .contextual-group .tab-name.active {
    color: inherit;
    margin-bottom: -1px;
}

/* Backstage */

ng-ribbon .ribbon .backstage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 990;
    transform: translateX(-100%);
}

ng-ribbon .ribbon.backstage-open-remove-active  .backstage {
    animation: backstage-out 100ms linear;
}

ng-ribbon .ribbon.backstage-open .backstage {
    transform: translateX(0);
}

ng-ribbon .ribbon.backstage-open .ribbon-title {
    z-index: auto;
}

ng-ribbon .ribbon.backstage-open-add .backstage {
    animation: backstage-in 100ms linear;
}

@keyframes backstage-in {
    from {
        transform: translateX(-75px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes backstage-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75px);
    }
}

ng-ribbon .ribbon .backstage .backstage-close {
    position: absolute;
    width: 34px;
    height: 34px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    line-height: 20px;
    margin: 20px 0 15px 20px;
}

ng-ribbon .ribbon .backstage .backstage-close:hover {
    border-color: #97B1D8;
}

ng-ribbon .ribbon .backstage .backstage-close:hover path {
    fill: #97B1D8;
}

ng-ribbon .ribbon .backstage .backstage-content {
    height: 100%;
}

/* Menu */

ng-ribbon .ribbon ng-ribbon-menu {
    display: flex;
    height: 100%;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu {
    width: 125px;
    background-color: #2b579a;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu ul {
    list-style: none;
    margin: 69px 0 0;
    padding: 0;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li {
    color: white;
    line-height: 40px;
    cursor: pointer;
    padding: 0 0 0 20px;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li.separator {
    margin: 10px 20px;
    padding: 0;
    border-bottom: solid 1px #3E6DB5;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li.selected {
    background-color: #3e6db5;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu li:hover {
    background-color: #19478a;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content {
    flex: 1;
    padding: 30px;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item {
    display: none;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-item.selected {
    display: block;
}

ng-ribbon .ribbon ng-ribbon-menu .ribbon-menu-content ng-ribbon-menu-separator {
    display: none;
}

/* Tab Content */

ng-ribbon .ribbon .tab-content > .dynamic-tabs {
    height: 100%;
}

ng-ribbon .ribbon .tab-content .tab {
    display: flex;
    height: 100%;
    margin-right: 30px;
}

ng-ribbon .ribbon .tab-content ng-ribbon-group {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    border-right: solid 1px #E1E1E1;
    min-width: 60px;
}

ng-ribbon .ribbon .tab-content ng-ribbon-group > [ng-transclude] {
    flex: 1;
    padding: 7px 7px 0 7px;
    display: flex;
    justify-content: center;
}

ng-ribbon .ribbon .tab-content ng-ribbon-group > .group-label {
    text-align: center;
    color: #666666;
    padding: 0 2px;
}

/* Ribbon Actions */

ng-ribbon .button {
    min-width: 36px;
    max-width: 57px;
    cursor: pointer;
    border: solid 1px transparent;
    position: relative;
}

ng-ribbon .button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

ng-ribbon .drop-button,
ng-ribbon .large-button {
    padding: 2px;
}

ng-ribbon .drop-button:hover,
ng-ribbon .large-button:hover {
    background-color: #D5E1F2;
}

ng-ribbon .drop-button:active,
ng-ribbon .large-button:active {
    background-color: #C2D5F2;
}

ng-ribbon .button img {
    min-width: 28px;
    max-width: 36px;
    min-height: 28px;
    max-height: 33px;
    display: block;
    margin: 0 auto;
}

ng-ribbon .large-button > .title {
    text-align: center;
    overflow: hidden;
    max-width: 51px;
}

ng-ribbon .large-button > img,
ng-ribbon .drop-button > img {
    margin-bottom: 5px;
}

ng-ribbon .split-button {
    display: flex;
    flex-direction: column;
}

ng-ribbon .split-button:hover {
    border-color: #D5E1F2;
}

ng-ribbon .split-button:active {
    border-color: #C2D5F2;
}

ng-ribbon .split-button .image {
    padding: 2px 0;
}

ng-ribbon .split-button img {
    margin-bottom: 3px;
}

ng-ribbon .split-button .title {
    flex: 1;
    padding: 0 2px;
}

ng-ribbon .button .title {
    text-align: center;
}

ng-ribbon .button .title > svg {
    display: block;
    margin: 6px auto 0;
}

ng-ribbon .button .title > .multiline + svg {
    display: inline;
    vertical-align: top;
}

ng-ribbon .split-button .image:hover,
ng-ribbon .split-button .title:hover {
    background-color: #D5E1F2;
}

ng-ribbon .drop-button.open,
ng-ribbon .split-button.open .image,
ng-ribbon .split-button.open .title,
ng-ribbon .split-button .image:active,
ng-ribbon .split-button .title:active {
    background-color: #C2D5F2;
}

ng-ribbon .ribbon-popup {
    display: none;
    position: absolute;
    top: 100%;
    border: solid 1px #C6C6C6;
    -webkit-box-shadow: 1px 1px 5px #C6C6C6;
    -moz-box-shadow: 1px 1px 5px #C6C6C6;
    box-shadow: 1px 1px 5px #C6C6C6;
    padding: 1px;
    background-color: white;
    min-width: 57px;
    max-width: 204px;
    max-height: calc(100vh - 150px);
    overflow: auto;
}

ng-ribbon .button.open .ribbon-popup {
    display: block;
    animation: show-popup 50ms linear;
}

@keyframes show-popup {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}
