ng-ribbon .backstage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0s linear 100ms;
}

ng-ribbon .backstage > .document-title {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 30px;
}

ng-ribbon .backstage > .backstage-panel {
    height: 100%;
    animation: hide-backstage 100ms linear;
}

ng-ribbon.backstage-open .backstage {
    transform: translateX(0);
    transition: transform 0s linear 0ms;
}

ng-ribbon.backstage-open .backstage > .backstage-panel {
    transform: translateX(0);
    animation: show-backstage 100ms linear;
}

ng-ribbon .backstage .backstage-panel > .backstage-close {
    position: absolute;
    width: 34px;
    height: 34px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    line-height: 20px;
    margin: 20px 0 15px 20px;
}

ng-ribbon .backstage .backstage-panel > .backstage-close:hover {
    border-color: #97B1D8;
}

ng-ribbon .backstage .backstage-panel > .backstage-close:hover path {
    fill: #97B1D8;
}

ng-ribbon .backstage .backstage-panel > .backstage-content {
    height: 100%;
}

@keyframes show-backstage {
    from {
        transform: translateX(-75px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes hide-backstage {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75px);
    }
}
