ribbon .ribbon .backstage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 990;
    transform: translateX(-100%);
}

ribbon .ribbon.backstage-open-remove-active  .backstage {
    animation: backstage-out 100ms linear;
}

ribbon .ribbon.backstage-open .backstage {
    transform: translateX(0);
}

ribbon .ribbon.backstage-open-add .backstage {
    animation: backstage-in 100ms linear;
}

@keyframes backstage-in {
    from {
        transform: translateX(-75px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes backstage-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-75px);
    }
}

ribbon .ribbon .backstage .backstage-close {
    position: absolute;
    width: 34px;
    height: 34px;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    line-height: 20px;
    margin: 20px 0 15px 20px;
}

ribbon .ribbon .backstage .backstage-close:hover {
    border-color: #97B1D8;
}

ribbon .ribbon .backstage .backstage-close:hover path {
    fill: #97B1D8;
}

ribbon .ribbon .backstage .backstage-content {
    height: 100%;
}
