ng-ribbon {
    display: block;
    font-family: 'Segoe UI', Arial, Verdana, sans-serif;
    margin-bottom: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ng-ribbon,
ng-ribbon *,
ng-ribbon *:before,
ng-ribbon *:after{
    box-sizing: border-box;
}

ng-ribbon .ribbon {
    background-color: white;
    font-size: 12px;
    position: relative;
    height: 161px;
    transition: height 100ms linear;
}

ng-ribbon .ribbon.collapsed {
    height: 55px;
    overflow: visible;
}

ng-ribbon .ribbon.collapsed-remove-active {
    transition-duration: 300ms;
    transition-delay: 300ms;
}
