ribbon .button {
    min-width: 36px;
    max-width: 57px;
    cursor: pointer;
    border: solid 1px transparent;
    position: relative;
}

ribbon .button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

ribbon .drop-button,
ribbon .large-button {
    padding: 2px;
}

ribbon .drop-button:hover,
ribbon .large-button:hover {
    background-color: #D5E1F2;
}

ribbon .drop-button:active,
ribbon .large-button:active {
    background-color: #C2D5F2;
}

ribbon .button img {
    min-width: 28px;
    max-width: 36px;
    min-height: 28px;
    max-height: 33px;
    display: block;
    margin: 0 auto;
}

ribbon .large-button > .title {
    text-align: center;
    overflow: hidden;
    max-width: 51px;
}

ribbon .large-button > img,
ribbon .drop-button > img {
    margin-bottom: 5px;
}

ribbon .split-button {
    display: flex;
    flex-direction: column;
}

ribbon .split-button:hover {
    border-color: #D5E1F2;
}

ribbon .split-button:active {
    border-color: #C2D5F2;
}

ribbon .split-button .image {
    padding: 2px 0;
}

ribbon .split-button img {
    margin-bottom: 3px;
}

ribbon .split-button .title {
    flex: 1;
    padding: 0 2px;
}

ribbon .button .title {
    text-align: center;
}

ribbon .button .title > svg {
    display: block;
    margin: 6px auto 0;
}

ribbon .button .title > .multiline + svg {
    display: inline;
    vertical-align: top;
}

ribbon .split-button .image:hover,
ribbon .split-button .title:hover {
    background-color: #D5E1F2;
}

ribbon .drop-button.open,
ribbon .split-button.open .image,
ribbon .split-button.open .title,
ribbon .split-button .image:active,
ribbon .split-button .title:active {
    background-color: #C2D5F2;
}

ribbon .ribbon-popup {
    display: none;
    position: absolute;
    top: 100%;
    border: solid 1px #C6C6C6;
    -webkit-box-shadow: 1px 1px 5px #C6C6C6;
    -moz-box-shadow: 1px 1px 5px #C6C6C6;
    box-shadow: 1px 1px 5px #C6C6C6;
    padding: 1px;
    background-color: white;
    min-width: 57px;
    max-width: 204px;
    max-height: calc(100vh - 150px);
    overflow: auto;
}

ribbon .button.open .ribbon-popup {
    display: block;
    animation: show-popup 50ms linear;
}

@keyframes show-popup {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}
